.bg-gradient-dark {
    /*
    background-image: linear-gradient(to right, #0055a4, #5671b4, #848ec5, #acaed6, #d1d0e7, #dad2ee, #e5d4f3, #f2d5f6, #f9b1dd, #ff89b3, #ff617a, #ef4135);    height: 100%;
    */
    background-image: url('/assets/img/decollage-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

#map {
    height: 35em;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    cursor: pointer;
    color: white;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.38) rgba(0, 0, 0, 0.38) transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    cursor: pointer;
}

.card {
    position: relative;
    background-image: url('/assets/img/decollage-bg.jpg');
    background-repeat: no-repeat;
    background-color: #4671c0;
    background-size: cover;
    transition: all .3s ease;
    height: 27rem;
}
